body {
    background-color: hsl(223, 56%, 16%, 0.5);
}

#sidebar {
    width: 20%;
    height: 100vh;
    /* border-right: 1px solid #000000; */
    background-color: hsl(223, 56%, 16%);
}

#content {
    margin-left: 20%;
    width: 80%;
}

ul.list-unstyled li,
nav a {
    color: #BFBFBD;
}

#title {
    background-color: hsla(0, 0%, 97%, 0.1);
    border-radius: 5px;
}

#sidebar ul.list-unstyled li {
    padding: 15px;
    border-bottom: 1px solid #182847;
    font-size: 25px;
}

main nav ul li a {
    color: #3F63A6 !important;
}
main nav ul li.active a {
    color: #fff !important;
}

li.selected a {
    color: #f8f8f8;
}

a:hover {
    color: hsla(60, 2%, 75%, 0.5);
    text-decoration: none;
}

#special-logout {
    display: none;
}

/* TEMP */
.box {
    background-color: rgb(18, 31, 64);
    /* height: 200px; */
}

@media(min-width: 995px) {
    #top-nav {
        display: none;
    }
}

@media (max-width: 994px) {
    #sidebar {
        display: none;
    }
    #content {
        margin-left: 0;
        width: 100%;
    }
    #special-logout {
        display: block;
    }
}